<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
<img id="album_art" src="http://gfm.fm/assets/img/default-albumart.png" alt="Album Art" style="border: 5px solid grey"/>
<h3 id="song_name">Song</h3>
<h4 id="user_name">Artist</h4>
<input type="text" name="url" id="url">
<button onclick="Play()">Play Song!</button>
    
<script>
    SC.initialize({
      client_id: '9896695e978359ad6e39e1b98f22abb4'
    });
    
    var track_url = 'https://soundcloud.com/hadouken/hadouken-bliss-out-1';
    document.getElementById("url").value = track_url;

    function Play(){
        track_url = document.getElementById("url").value;
        
        SC.get('/resolve', { url: track_url }, function(track) {
            var art = track.artwork_url;
            art = art.replace("-large", '-crop');
            document.getElementById("album_art").src = art;
            console.log(art);
            document.getElementById("song_name").innerHTML = track.title;
            document.getElementById("user_name").innerHTML = track.user.username;
            SC.stream('/tracks/' + track.id, function(sound){
                sound.play();
            });
        });
    }
</script>